$weuiSearchBarHeight: 28px;
.weui-icon-search_in-box {
  position: absolute;
  left: 16rpx;
  top: 0rpx;
}
.weui-search-bar__box {
  position: relative;
  padding-left: 60rpx;
  padding-right: 60rpx;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  margin-bottom: 18rpx;
  height: 35rpx;
  line-height: 35rpx;
}
.weui-search-bar__input {
  height: $weuiSearchBarHeight;
  line-height: $weuiSearchBarHeight;
  font-size: 28rpx;
  color: #999;
}
